Repository GaryOcean428/anything-llm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write, npm run test -- --passWithNoTests --findRelatedTests --bail

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{json,md,yaml,yml}": [
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "npm run test -- --passWithNoTests --findRelatedTests --bail"
  ]
}

Clean up stray inserted lines in modelMap index.js
  server/utils/AiProviders/modelMap/index.js
Due: eslint --fix --max-warnings=0, prettier --write, npm run test -- --passWithNoTests --findRelatedTests --bail

Enhance Railway deployment configuration and scripts
  Dockerfile
  RAILWAY_DEPLOYMENT_GUIDE.md
  railway.toml
  scripts/railway-deploy-check.sh
  server/.env.production.template
  server/index.js
  server/package.json
  server/scripts/db-migrate.js
Due: eslint --fix --max-warnings=0, prettier --write, npm run test -- --passWithNoTests --findRelatedTests --bail

fix(husky): remove deprecated initialization syntax and fix prettier command
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  collector/package.json
  collector/yarn.lock
  frontend/package.json
  frontend/yarn.lock
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
  server/yarn.lock
  tsconfig.json
Due: prettier --write

fix: correct railway start path
  railway.json
  railway.toml
Due: prettier --write

feat(deploy): configure Railway deployment with secure environment variables
  railway.toml
Due: none

fix: do it
  .clinerules
  .devcontainer/devcontainer.json
  .devcontainer/devcontainer.json.new
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/settings.json.new
  .vscode/tasks.json
  .yarn/install-state.gz
  .yarnrc.yml
  DEVELOPMENT_SETUP_COMPLETE.md
  DEV_ENVIRONMENT.md
  docs/railway-variables-cheat-sheet.md
  package.json
  scripts/fix-railway-env.sh
  scripts/railway.sh
  server/startup-enhanced.js
Due: eslint --fix --max-warnings=0, prettier --write, npm run test -- --passWithNoTests --findRelatedTests --bail

refactor: migrate mime module imports to dynamic import for ES module compatibility
  .gitignore
  .vscode/settings.json
  .yarn/install-state.gz
  debug-terminal.cjs
  server/.yarn/install-state.gz
  server/package.json
  server/utils/agents/aibitat/plugins/http-socket.js
  server/utils/agents/aibitat/plugins/websocket.js
  server/utils/files/logo.js
  server/utils/files/pfp.js
Due: eslint --fix --max-warnings=0, prettier --write, npm run test -- --passWithNoTests --findRelatedTests --bail

prisma
  server/prisma/migrations/20250731054850_schema_aware_migration/migration.sql
  server/scripts/schema-migrate.js
Due: eslint --fix --max-warnings=0, prettier --write, npm run test -- --passWithNoTests --findRelatedTests --bail

chore: add JDK nbjavac configuration in VSCode settings
  .vscode/settings.json
Due: prettier --write

feat: add email field and align users table schema with Prisma model
  server/create-dev-user.js
  server/prisma/migrations/202508060752_add_email_to_users/migration.sql
  server/prisma/migrations/202508060756_align_users_columns/migration.sql
  server/prisma/migrations/20250806_add_missing_users_columns_2/migration.sql
  server/prisma/migrations/20250806_add_pfpFilename_to_users/migration.sql
  server/prisma/migrations/20250806_fix_users_timestamps_camel/migration.sql
  server/prisma/schema.prisma
  server/scripts/schema-migrate.js
  server/scripts/verify-schema.js
Due: eslint --fix --max-warnings=0, prettier --write, npm run test -- --passWithNoTests --findRelatedTests --bail

feat: add vitest test setup and railway deployment docs
  .yarn/install-state.gz
  docker-compose.yml
  docs/railpack-docs-links.md
  docs/railway-docs-links.md
  frontend/.yarn/install-state.gz
  frontend/package.json
  frontend/src/components/ChatBubble/index.jsx
  frontend/src/components/DefaultChat/index.jsx
  frontend/src/components/Sidebar/index.jsx
  frontend/src/components/__tests__/ChatBubble.test.jsx
  frontend/src/components/__tests__/Sidebar.test.jsx
  frontend/src/test-setup.js
  frontend/vite.config.js
  frontend/vitest.config.js
  frontend/yarn.lock
  package.json
  server/.yarn/install-state.gz
  server/endpoints/workspaces.js
  server/models/user.js
  server/models/workspace.js
  server/models/workspaceUsers.js
  server/package.json
  server/prisma/migrations/20250731054850_schema_aware_migration/migration.sql
  server/prisma/migrations/20250731215000_railway_schema_fix/migration.sql
  server/prisma/schema.prisma
  server/tsconfig.json
Due: eslint --fix --max-warnings=0, prettier --write, npm run test -- --passWithNoTests --findRelatedTests --bail

chore: update package dependencies and disable yarn scripts execution
  .yarn/install-state.gz
  .yarnrc.yml
  collector/.yarn/install-state.gz
  collector/package.json
  collector/yarn.lock
  frontend/package.json
  server/package.json
Due: prettier --write

do it
  .vscode/settings.json
  .yarn/install-state.gz
  .yarnrc.yml
  Dockerfile
  package.json
  sharp-build.log
Due: prettier --write

chore: optimize Docker build caching and update frontend workspace name to luffy-frontend
  Dockerfile
Due: none
